:root {
  --color-text: #3d4e61;
  --color-border: #e1e7ed;
  --color-shadow: #3d4e611a;
  --color-shadow-hover-focus: #00000040;
  --color-bg-focus-start: #fff;
  --color-bg-focus-end: #f6f6f7;
  --color-shadow-small-hover: #3d4e6133;
}
